fastapi 
uvicorn 
langgraph 
langchain-together 
pydantic 
together
python-dotenv
langchain-community
pypdf
PyMuPDF
termcolor
google-cloud-aiplatform
google-cloud-storage
langchain_google_vertexai
pandas
psycopg==3.2.3
psycopg-pool==3.2.3
langgraph-checkpoint-postgres==2.0.2